services:
  - type: web
    name: videoyuklabot
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: MAIN_ADMIN_ID
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.0
